[submodule "genesis-world"]
	path = genesis-world
	url = https://github.com/Genesis-Embodied-AI/genesis-world.git
[submodule "i4h-asset-catalog"]
	path = i4h-asset-catalog
	url = https://github.com/isaac-for-healthcare/i4h-asset-catalog.git
[submodule "i4h-sensor-simulation"]
	path = i4h-sensor-simulation
	url = https://github.com/isaac-for-healthcare/i4h-sensor-simulation.git
	ignore = dirty
